body {
	padding-top: 55px;
	padding-left: 10px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.navPanel {
	list-style-type: none;
	padding: 0;
	width: 100%;
	max-width: 200px;
}

ul.navPanel li a {
	background-color: #f1f1f1;
	display: block;
	color: black;
	padding: 8px 2px 8px 2px;
	text-decoration: none;
	border-style:solid;
	border-color: #555;
	border-width: 0 1px 1px 1px;
}

ul.navPanel li:first-child a {
	border-top: 1px solid #555;
}

ul.navPanel li a:hover {
	background-color: #555;
	color: white;
	text-decoration: none;
}

ul.navPanel li {
	text-align: center;
}

#preview {
    height: 100%;
    width: 100%;
	border-style: ridge;
}

#previewContainer {
    width: 100%;
    max-width: 650px;
    height: 420px;
	opacity: 0;
}

.jakeHidden {
	display: none;
}

a {
	/*Remove focus rect in ie*/
	outline: none !important;
}

.selectedPreview {
	box-shadow: 1px 1px 7px 0 inset;
}