body {
	padding-top: 55px;
	padding-left: 10px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.navPanel {
	list-style-type: none;
	padding: 0;
	width: 100%;
	max-width: 200px;
	background-color: #f1f1f1;
	border: 1px solid #555;
}

ul.navPanel li a {
	display: block;
	color: black;
	padding: 8px 2px 8px 2px;
	text-decoration: none;
	border-bottom: 1px solid #555;
}

ul.navPanel li:last-child a {
	border-bottom: none;
}

ul.navPanel li a:hover {
	background-color: #555;
	color: white;
	text-decoration: none;
}

ul.navPanel li {
	text-align: center;
}

#preview {
	width: 100%;
	max-width: 700px;
	height: 420px;
	border-style: ridge;
}

.smallViewOnly {
	display :none;
}
/*iframe is automatically moved below nav menu when width is < 768, so we want to hide it.*/
@media screen and (max-width: 767px) {
	.largeViewOnly {
		display: none;
	}
	.smallViewOnly {
		display: block;
	}
}
